index.html
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title></title>
  <meta name="description">
  <meta content="width=device-width" name="viewport">
  <link href="application.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic&subset=latin,cyrillic" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write("<script src="js/vendor/html5shiv.js"><\/script>")</script>
  <![endif]-->
</head>
<body><header>
  <a class='logo' href=''>
    <img alt='' src='i/logo.png'>
  </a>
  <div class='address'>
    <div class='addr'>
      <label>Запад</label>
      (903) 158 32 60
    </div>
    <div class='addr'>
      <label>Север</label>
      (495) 229 36 36
    </div>
    <div class='addr'>
      <label>Юго-Восток</label>
      (925) 529 91 13
    </div>
    <div class='addr'>
      <label>Восток</label>
      (926) 627 46 42
    </div>
    <div class='addr'>
      <label>Юго-запад (1)</label>
      (926) 022 32 28
    </div>
    <div class='addr'>
      <label>Юго-запад (2)</label>
      (495) 567 46 47
    </div>
  </div>
  <div class='work_time'>
    Работаем круглосуточно без выходных!
  </div>
  <div class='clear'></div>
</header>
<section class='images'>
  <div class='image'>
    <div class='text'>Производим любые марки товарного бетона и строительного раствора.</div>
    <img alt='' src='i/img1.png'>
  </div>
  <div class='image'>
    <div class='text'>Предоставляем сертификаты качества и технический паспорт на каждую партию товаров.</div>
    <img alt='' src='i/img2.png'>
  </div>
  <div class='image'>
    <div class='text'>Осуществляем доставку до объектов авто-бетоносмесителями.</div>
    <img alt='' src='i/img3.png'>
  </div>
  <div class='clear'></div>
</section>
<section class='pdf'>
  <img alt='' src='i/pdf.png'>
  <a href=''>
    Скачать прайс
  </a>
</section>
<section class='wrapper'>
  <aside>
    <ul>
      <li class='active'>
        <a href='#c1'>
          БЕТОН
          <i class='l'></i>
          <i class='r'></i>
          <i class='s'></i>
        </a>
      </li>
      <li class='af'>
        <a href='#c2'>
          КЕРАМЗИТБЕТОН
          <i class='l'></i>
          <i class='r'></i>
          <i class='s'></i>
        </a>
      </li>
      <li>
        <a href='#c3'>
          РАСТВОРЫ
          <i class='l'></i>
          <i class='r'></i>
          <i class='s'></i>
        </a>
      </li>
      <!-- %li -->
      <!-- %a{:href => "#c4"} -->
      <!-- ЩЕБЕНЬ, ПЕСОК -->
      <!-- %i.l -->
      <!-- %i.r -->
      <!-- %i.s -->
      <!-- %li -->
      <!-- %a{:href => "#c5"} -->
      <!-- ЦЕМЕНТ -->
      <!-- %i.l -->
      <!-- %i.r -->
      <!-- %i.s -->
      <li>
        <a href='#c6'>
          АВТОБЕТОНОНАСОСЫ
          <i class='l'></i>
          <i class='r'></i>
          <i class='s'></i>
        </a>
      </li>
      <li>
        <a href='#c7'>
          пескобетон
          <i class='l'></i>
          <i class='r'></i>
          <i class='s'></i>
        </a>
      </li>
      <li>
        <a href='#c9'>
          щебень, песок
          <i class='l'></i>
          <i class='r'></i>
          <i class='s'></i>
        </a>
      </li>
      <!-- %li -->
      <!-- %a{:href => "#c7"} -->
      <!-- ФУНДАМЕНТАЛЬНЫЕ БЛОКИ (ФБС) -->
      <!-- %i.l -->
      <!-- %i.r -->
      <!-- %i.s -->
      <!-- %li -->
      <!-- %a{:href => "#c8"} -->
      <!-- ТРОТУАРНАЯ ПЛИТКА, БОРДЮРЫ -->
      <!-- %i.l -->
      <!-- %i.r -->
      <!-- %i.s -->
    </ul>
  </aside>
  <div class='main c active' id='c1'>
    <h2>Бетон</h2>
    <table class='little'>
      <tr>
        <th>МАРКА БЕТОНА</th>
        <th>На гравии  П3,П4</th>
        <th>На граните  П3,П4</th>
        <th>МПД-5&deg;С</th>
        <th>ПМД-10&deg;С</th>
        <th>ПМД-15&deg;С</th>
        <th></th>
      </tr>
      <tr>
        <td>М100 В-7,5F100W4</td>
        <td>
          <span class='gray'>3275.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>3375.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М150 В-10 F100W4</td>
        <td>
          <span class='gray'>3350.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>3450.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М200  В-15F150W6</td>
        <td>
          <span class='gray'>3590.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>3690.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М250 В-20F150W6</td>
        <td>
          <span class='gray'>3750.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>3850.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М300 В-22.5F200W6</td>
        <td>
          <span class='gray'>3820.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>3920.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М350 В-25F200W8</td>
        <td>
          <span class='gray'>3965.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>4065.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М400 В-30F200W8</td>
        <td>
          <span class='gray'>4175.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>4275.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М450 В-35F200W8</td>
        <td>------</td>
        <td>
          <span class='gray'>4430.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М550 В-40F200W8</td>
        <td>------</td>
        <td>
          <span class='gray'>4600.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М600 В-45F300W12</td>
        <td>------</td>
        <td>
          <span class='gray'>4770.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М700 В-50F300W14</td>
        <td>------</td>
        <td>
          <span class='gray'>4855.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М800 В-60F300W20</td>
        <td>------</td>
        <td>
          <span class='gray'>5655.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>130.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>170.00</span>
          руб.
        </td>
        <td>
          <span class='gray'>230.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
    </table>
    <p>
      <a href=''>Рассчитать стоимость доставки</a>
    </p>
  </div>
  <div class='main c' id='c2'>
    <h2>Керамзитбетон</h2>
    <table>
      <tr>
        <td>М100</td>
        <td>
          <span class='gray'>4500.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М150</td>
        <td>
          <span class='gray'>4575.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М200</td>
        <td>
          <span class='gray'>4655.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
    </table>
    <p>
      <a href=''>Рассчитать стоимость доставки</a>
    </p>
  </div>
  <div class='main c' id='c3'>
    <h2>Раствор кладочный</h2>
    <table>
      <tr>
        <th>Марка</th>
        <th>цена за 1 м3</th>
        <th></th>
      </tr>
      <tr>
        <td>М100</td>
        <td>
          <span class='gray'>3150.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М150</td>
        <td>
          <span class='gray'>3320.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М200</td>
        <td>
          <span class='gray'>3580.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
    </table>
    <p>
      <a href=''>Рассчитать стоимость доставки</a>
    </p>
  </div>
  <div class='main c' id='c4'></div>
  <div class='main c' id='c5'></div>
  <div class='main c' id='c6'>
    <h2>Автобетононасосы</h2>
    <table>
      <tr>
        <td>36 метров погонных  смена 8 часов</td>
        <td>
          <span class='gray'>20000.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>43 метров погонных смена 8 часов</td>
        <td>
          <span class='gray'>30500.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>46 метров погонных смена 8 часов</td>
        <td>
          <span class='gray'>32000.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>52 метров погонных смена 8 часов</td>
        <td>
          <span class='gray'>42000.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>Пусковая смесь</td>
        <td>
          <span class='gray'>1500.00</span>
          руб.
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Перестановка насоса</td>
        <td>
          <span class='gray'>1500.00</span>
          руб.
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Дополнительные трубы, шланги</td>
        <td>
          <span class='gray'>500.00</span>
          руб.
        </td>
        <td></td>
      </tr>
    </table>
    <p>
      <a href=''>Рассчитать стоимость доставки</a>
    </p>
  </div>
  <div class='main c' id='c7'>
    <h2>Пескобетон</h2>
    <table>
      <tr>
        <td>М100 В-7,5</td>
        <td>
          <span class='gray'>3010.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М150-00 В-10</td>
        <td>
          <span class='gray'>3160.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М200 В-15</td>
        <td>
          <span class='gray'>3305.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М250 В20</td>
        <td>
          <span class='gray'>3495.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
      <tr>
        <td>М300 В-22,5</td>
        <td>
          <span class='gray'>3670.00</span>
          руб.
        </td>
        <td>
          <a href=''>
            <img alt='' src='i/order.png'>
          </a>
        </td>
      </tr>
    </table>
    <p>
      <a href=''>Рассчитать стоимость доставки</a>
    </p>
  </div>
  <div class='main c' id='c8'></div>
  <div class='main c' id='c9'></div>
  <div class='clear'></div>
  <div class='text'>
    <p>
      <strong>
        ооо «АЛНСТРОЙ»
      </strong>
      одно из крупнейших предприятий Москвы, стабильно работающее на строительном рынке.
    </p>
    <p>Наша компания основой своей деятельности позиционирует поставку товарного бетона и раствора в пределах Москвы и МКАД. Бетон поставляется в специальных бетоносмесителях собственной производственной базы. Мы продаем только сертифицированный бетон, качество изготовления контролируется ГОСТами.</p>
    <p>
      <big>У нас есть собственная лаборатория контроля качества!</big>
    </p>
  </div>
</section>
<footer>
  <a class='point pointer_1 hide' href='#a1'></a>
  <a class='point_big pointer_1_big active' href='#a1'></a>
  <a class='point pointer_2' href='#a2'></a>
  <a class='point_big pointer_2_big' href='#a2'></a>
  <a class='point pointer_3' href='#a3'></a>
  <a class='point_big pointer_3_big' href='#a3'></a>
  <a class='point pointer_4' href='#a4'></a>
  <a class='point_big pointer_4_big' href='#a4'></a>
  <a class='point pointer_5' href='#a5'></a>
  <a class='point_big pointer_5_big' href='#a5'></a>
  <a class='point pointer_6' href='#a6'></a>
  <a class='point_big pointer_6_big' href='#a6'></a>
  <h4>Наши Заводы:</h4>
  <div class='addr show' id='a1'>
    <h5>СЕВЕР</h5>
    <p>Московская обл., г. Химки, Красногорский район, Путилковское ш., вл. 1 </p>
    <h6>Телефоны:</h6>
    <p>
      Офис:
      <strong>(495) 229 36 36</strong>
      <br>
      Завод:
      <strong>(495) 978 24 01</strong>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>(901) 517 24 01</strong>
    </p>
  </div>
  <div class='addr' id='a2'>
    <h5>ЮГО-ВОСТОК</h5>
    <p>
      Московская обл, г. Балашиха,
      Западная промзона, ш. Энтузиастов, д.4
    </p>
    <h6>Телефоны:</h6>
    <p>
      <strong>(968) 864 46 64</strong>
      <br>
      <strong>(925) 529 91 13</strong>
    </p>
  </div>
  <div class='addr' id='a3'>
    <h5>ЗАПАД</h5>
    <p>г. Москва, Генерала Дорохова ул., д. 16-А</p>
    <h6>Телефон:</h6>
    <p>
      <strong>(903) 158 32 60</strong>
    </p>
  </div>
  <div class='addr' id='a4'>
    <p>
      Московская обл., Раменский р-н,
      пос. Родники.
    </p>
    <h6>Телефоны:</h6>
    <p>
      <strong>(495) 567 46 47</strong>
      <br>
      <strong>(926) 627 46 42</strong>
    </p>
  </div>
  <div class='addr' id='a5'>
    <h5>ЮГО-ЗАПАД (1)</h5>
    <p>г. Москва, Ленинский район,      дер. Саларьево</p>
    <h6>Телефоны:</h6>
    <p>
      <strong>(495) 424 64 28</strong>
      <br>
      <strong>(925) 585 65 35</strong>
    </p>
  </div>
  <div class='addr' id='a6'>
    <h5>ЮГО-ЗАПАД (2)</h5>
    <p>
      Московская обл., Наро-Фоминский р-н,
      вблизи с. Петровское, участок №6
    </p>
    <h6>Телефоны:</h6>
    <p>
      <strong>(926) 022 32 28</strong>
      <br>
      <strong>(926) 022 32 31</strong>
    </p>
  </div>
</footer>
<section class='copyright'>
  Copyright © 2013
</section>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>

index.haml
/ @include 'kit/head.kit'

%header 
  %a.logo{:href => ""} 
    %img{:src => "i/logo.png", :alt => ""} 
  .address
    .addr
      %label Запад
      (903) 158 32 60
    .addr 
      %label Север
      (495) 229 36 36
    .addr 
      %label Юго-Восток
      (925) 529 91 13
    .addr 
      %label Восток
      (926) 627 46 42
    .addr 
      %label Юго-запад (1)
      (926) 022 32 28
    .addr 
      %label Юго-запад (2)
      (495) 567 46 47
  .work_time
    Работаем круглосуточно без выходных!
  .clear
    
%section.images 
  .image 
    .text Производим любые марки товарного бетона и строительного раствора.
    %img{:src => "i/img1.png", :alt => ""}
  .image 
    .text Предоставляем сертификаты качества и технический паспорт на каждую партию товаров.
    %img{:src => "i/img2.png", :alt => ""} 
  .image 
    .text Осуществляем доставку до объектов авто-бетоносмесителями.
    %img{:src => "i/img3.png", :alt => ""} 
  .clear

%section.pdf 
  %img{:src => "i/pdf.png", :alt => ""} 
  %a{:href => ""} 
    Скачать прайс
    
%section.wrapper 
  %aside 
    %ul 
      %li.active 
        %a{:href => "#c1"} 
          БЕТОН
          %i.l 
          %i.r
          %i.s
      %li.af 
        %a{:href => "#c2"} 
          КЕРАМЗИТБЕТОН
          %i.l 
          %i.r
          %i.s
      %li 
        %a{:href => "#c3"} 
          РАСТВОРЫ
          %i.l 
          %i.r
          %i.s
      /%li 
      /  %a{:href => "#c4"} 
      /    ЩЕБЕНЬ, ПЕСОК
      /    %i.l 
      /    %i.r
      /    %i.s
      /%li 
      /  %a{:href => "#c5"} 
      /    ЦЕМЕНТ
      /    %i.l 
      /    %i.r
      /    %i.s
      %li 
        %a{:href => "#c6"} 
          АВТОБЕТОНОНАСОСЫ
          %i.l 
          %i.r
          %i.s
      %li 
        %a{:href => "#c7"} 
          пескобетон 
          %i.l 
          %i.r 
          %i.s 
      %li 
        %a{:href => "#c9"}
          щебень, песок
          %i.l 
          %i.r 
          %i.s 
      /%li 
      /  %a{:href => "#c7"} 
      /    ФУНДАМЕНТАЛЬНЫЕ БЛОКИ (ФБС)
      /    %i.l 
      /    %i.r
      /    %i.s
      /%li 
      /  %a{:href => "#c8"} 
      /    ТРОТУАРНАЯ ПЛИТКА, БОРДЮРЫ
      /    %i.l 
      /    %i.r
      /    %i.s
  .main.c.active#c1
    %h2 Бетон
    %table.little
      %tr 
        %th МАРКА БЕТОНА 
        %th На гравии  П3,П4
        %th На граните  П3,П4
        %th МПД-5&deg;С
        %th ПМД-10&deg;С 
        %th ПМД-15&deg;С
        %th 
      %tr 
        %td  М100 В-7,5F100W4
        %td
          %span.gray 3275.00
          руб.
        %td
          %span.gray 3375.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М150 В-10 F100W4
        %td
          %span.gray 3350.00
          руб.
        %td
          %span.gray 3450.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М200  В-15F150W6
        %td
          %span.gray 3590.00
          руб.
        %td
          %span.gray 3690.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М250 В-20F150W6
        %td
          %span.gray 3750.00
          руб.
        %td
          %span.gray 3850.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М300 В-22.5F200W6
        %td
          %span.gray 3820.00
          руб.
        %td
          %span.gray 3920.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М350 В-25F200W8
        %td
          %span.gray 3965.00
          руб.
        %td
          %span.gray 4065.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М400 В-30F200W8
        %td
          %span.gray 4175.00
          руб.
        %td
          %span.gray 4275.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М450 В-35F200W8
        %td ------
        %td 
          %span.gray 4430.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td 
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М550 В-40F200W8
        %td ------
        %td 
          %span.gray 4600.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td 
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М600 В-45F300W12
        %td ------
        %td 
          %span.gray 4770.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М700 В-50F300W14
        %td ------
        %td 
          %span.gray 4855.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М800 В-60F300W20
        %td ------
        %td 
          %span.gray 5655.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
    %p 
      %a{:href => ""} Рассчитать стоимость доставки
  .main.c#c2
    %h2 Керамзитбетон
    %table 
      %tr 
        %td М100
        %td 
          %span.gray 4500.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М150
        %td 
          %span.gray 4575.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М200
        %td 
          %span.gray 4655.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
    %p 
      %a{:href => ""} Рассчитать стоимость доставки
  .main.c#c3
    %h2 Раствор кладочный
    %table 
      %tr 
        %th Марка
        %th цена за 1 м3
        %th 
      %tr 
        %td М100
        %td 
          %span.gray 3150.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""} 
      %tr 
        %td М150
        %td 
          %span.gray 3320.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М200
        %td 
          %span.gray 3580.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
    %p 
      %a{:href => ""} Рассчитать стоимость доставки
  .main.c#c4
  .main.c#c5
  .main.c#c6
    %h2 Автобетононасосы
    %table 
      %tr 
        %td 36 метров погонных  смена 8 часов
        %td 
          %span.gray 20000.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td 43 метров погонных смена 8 часов
        %td 
          %span.gray 30500.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td 46 метров погонных смена 8 часов
        %td
          %span.gray 32000.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td 52 метров погонных смена 8 часов
        %td
          %span.gray 42000.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td Пусковая смесь
        %td 
          %span.gray 1500.00
          руб.
        %td 
      %tr 
        %td Перестановка насоса
        %td 
          %span.gray 1500.00
          руб.
        %td 
      %tr 
        %td Дополнительные трубы, шланги
        %td 
          %span.gray 500.00
          руб.
        %td 
    %p 
      %a{:href => ""} Рассчитать стоимость доставки
  .main.c#c7
    %h2 Пескобетон
    %table 
      %tr 
        %td М100 В-7,5
        %td 
          %span.gray 3010.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М150-00 В-10
        %td 
          %span.gray 3160.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М200 В-15
        %td 
          %span.gray 3305.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М250 В20
        %td 
          %span.gray 3495.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М300 В-22,5
        %td 
          %span.gray 3670.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
    %p 
      %a{:href => ""} Рассчитать стоимость доставки
  .main.c#c8
  .main.c#c9
  .clear
  .text 
    %p 
      %strong 
        ооо «АЛНСТРОЙ» 
      одно из крупнейших предприятий Москвы, стабильно работающее на строительном рынке.
    %p Наша компания основой своей деятельности позиционирует поставку товарного бетона и раствора в пределах Москвы и МКАД. Бетон поставляется в специальных бетоносмесителях собственной производственной базы. Мы продаем только сертифицированный бетон, качество изготовления контролируется ГОСТами. 
    %p 
      %big У нас есть собственная лаборатория контроля качества!

%footer 
  %a.point.pointer_1.hide{:href => "#a1"} 
  %a.point_big.pointer_1_big.active{:href => "#a1"} 
  %a.point.pointer_2{:href => "#a2"} 
  %a.point_big.pointer_2_big{:href => "#a2"}
  %a.point.pointer_3{:href => "#a3"} 
  %a.point_big.pointer_3_big{:href => "#a3"}
  %a.point.pointer_4{:href => "#a4"} 
  %a.point_big.pointer_4_big{:href => "#a4"}
  %a.point.pointer_5{:href => "#a5"} 
  %a.point_big.pointer_5_big{:href => "#a5"}
  %a.point.pointer_6{:href => "#a6"} 
  %a.point_big.pointer_6_big{:href => "#a6"}
  %h4 Наши Заводы:
  .addr.show#a1
    %h5 СЕВЕР
    %p Московская обл., г. Химки, Красногорский район, Путилковское ш., вл. 1 
    %h6 Телефоны:
    %p 
      Офис:
      %strong (495) 229 36 36
      %br 
      Завод:
      %strong (495) 978 24 01
      %br 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %strong (901) 517 24 01
  .addr#a2
    %h5 ЮГО-ВОСТОК
    %p 
      Московская обл, г. Балашиха, 
      Западная промзона, ш. Энтузиастов, д.4
    %h6 Телефоны:
    %p 
      %strong (968) 864 46 64
      %br 
      %strong (925) 529 91 13
  .addr#a3 
    %h5 ЗАПАД
    %p г. Москва, Генерала Дорохова ул., д. 16-А
    %h6 Телефон:
    %p 
      %strong (903) 158 32 60
  .addr#a4 
    %p 
      Московская обл., Раменский р-н, 
      пос. Родники.
    %h6 Телефоны:
    %p 
      %strong (495) 567 46 47
      %br 
      %strong (926) 627 46 42
  .addr#a5 
    %h5 ЮГО-ЗАПАД (1)
    %p г. Москва, Ленинский район,      дер. Саларьево
    %h6 Телефоны:
    %p 
      %strong (495) 424 64 28
      %br 
      %strong (925) 585 65 35
  .addr#a6
    %h5 ЮГО-ЗАПАД (2)
    %p 
      Московская обл., Наро-Фоминский р-н, 
      вблизи с. Петровское, участок №6
    %h6 Телефоны:
    %p 
      %strong (926) 022 32 28
      %br 
      %strong (926) 022 32 31
      
%section.copyright 
  Copyright © 2013

/ @include 'kit/foot.kit'
